<?xml version='1.0' encoding='UTF-8'?>  
<!DOCTYPE hibernate-configuration PUBLIC  
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<session-factory>
		<!-- Database Connection Settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/shan_db</property>
		<property name="connection.username">rshan</property>
		<property name="connection.password">Shan@123</property>
		<!-- JDBC Connection Pool -->

		<property name="connection.pool_size">5</property>

		<!-- SQL Dialect -->

		<property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
		<property name="show_sql">true</property>
		<property name="hbm2ddl.auto">update</property>
		
		<property name="cache.use_second_level_cache">true</property>
		<property name="cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>

		<!-- Drop and re-create the database schema on startup -->

		<!-- <mapping resource="resource/student.hbm.xml" /> -->
		
 	</session-factory>
</hibernate-configuration>